/* Estilos personalizados para la cabecera */

/* Estilos para el logotipo */
#camion img {
    width: 30px; /* Ajusta el tamaño del icono de envío gratis */
    margin-right: 5px; /* Añade espacio entre el icono y el texto */
}

/* Estilos para el área de usuario */
#usuario {
    margin-top: 10px;
}

.usuario {
    margin-right: 10px;
    width: 150px; /* Ajusta el ancho según tu diseño */
}

.boton {
    padding: 8px 12px; /* Ajusta el padding según tu diseño */
    border-radius: 5px;
    font-size: 14px; /* Ajusta el tamaño de fuente según tu diseño */
}

/* Estilos para el menú horizontal */
#cabecera_baja {
    background-color: #f8f9fa; /* Cambia el color de fondo del menú */
}

#B {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#B li {
    display: inline-block;
    margin-right: 15px; /* Reduce el margen entre elementos */
}

#B li a {
    color: #333; /* Cambia el color de texto de los enlaces */
    text-decoration: none;
    font-size: 14px; /* Ajusta el tamaño de fuente según tu diseño */
}

#B li a:hover {
    color: #007bff; /* Cambia el color al pasar el ratón */
}

/* Estilos personalizados para la cabecera */

/* Estilos para el logotipo */
#logo img {
    max-width: 200px !important; /* Importante para aumentar la especificidad y asegurar que se aplique */
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilos para los iconos */
.nav-link .icon {
    width: 20px; /* Ajusta el ancho de los iconos según sea necesario */
    height: auto; /* Mantiene la proporción de los iconos */
    margin-right: 5px; /* Espacio entre el icono y el texto */
}




