@charset "UTF-8";

* { margin:0px; padding:0px;}

#celdas { margin-left: 5%;}

h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif; /* cambio de fuente */
}


#boton, #botonx {
	border-radius: 20px;
	border: 2px solid #28abe1;
	font-size: 1em;
	text-align: center;
	padding: 5px 10px;
	background-color: white;
	color: #28abe1;
	text-decoration: none;
	transition: all 0.2s ease;
	margin-left:40%;

}

#boton:hover, #botonx:hover {
box-shadow: 0 4px 16px rgba(0,0,0,0.2);
background-color: #28abe1;
color: white;
}


