@charset "UTF-8";

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Agregamos esta línea para incluir el borde en el cálculo del tamaño total del elemento */
}

#section {
    width: 100%; 
    height: auto; /* Cambiamos a auto para que se ajuste al contenido */
    display: flex; /* Utilizamos flexbox para el diseño */
    flex-wrap: wrap; /* Permitimos que los elementos se ajusten en dispositivos pequeños */
}

#contactos {
    width: 100%;
    max-width: 600px; /* Limitamos el ancho para que no ocupe toda la pantalla en dispositivos grandes */
    margin: auto; /* Centramos el formulario */
}

#formu {
    width: 100%;
}

#formu .cont {
    margin-bottom: 20px; /* Aumentamos el margen inferior entre los campos del formulario */
}

#formu input[type="text"], 
#formu input[type="email"], 
#formu textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#formu textarea {
    height: 100px;
    resize: vertical;
}

#formu .boton {
    margin-top: 20px;
    display: block; 
    border-radius: 20px;
    border: none;
    font-size: 1em;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #28abe1;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#formu .boton:hover {
    background-color: #1a6f93;
}

#localizacion {
    width: 100%;
    margin-top: 20px; /* Aumentamos el margen superior */
}

.direccion {
    font-size: 12px;
    margin-top: 10px; /* Aumentamos el margen superior */
}

iframe {
    width: 100%;
    height: 400px;
    border: none;
}

@media only screen and (max-width: 768px) {
    #contactos {
        order: 1;
    }

    #localizacion {
        order: 2;
    }
}
