@charset "UTF-8";

* { margin: 0px; padding: 0px; }

#articulos {
    width: 100%;
    overflow: hidden;
    display: flex; /* Utilizando flexbox para el layout */
    justify-content: center; /* Centrado horizontal */
}

#producto, #detalles {
    flex: 1; /* Ambos elementos ocuparán espacio equitativo */
}

#producto {
    /* Asegúrate de que la imagen no exceda el ancho del contenedor */
    max-width: 50%;
    order: 1; /* Imagen primero */
}

#detalles {
    padding-left: 20px; /* Espaciado entre la imagen y los detalles */
    order: 2; /* Detalles después de la imagen */
}

.volver img:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    border-radius: 15px;
}

.volver img {
    width: 30px;
    margin-top: 10px;
}

#comprar {
	margin-left: 18%;
    margin-top: 10px;
    border-radius: 20px;
    border: 3px solid #28abe1; /* Color que destaque */
    font-size: 1em;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    transition: all 0.3s ease; /* Transición más suave */
    background-color: white;
    color: #28abe1;
}

#comprar:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    background-color: #28abe1;
    color: white;}

#detalles p {
    font-size: 1.2em;
}

#prenda img {
    width: 100%; /* La imagen del producto ocupa todo el ancho disponible */
    height: auto; /* Mantiene la proporción de la imagen */
    transition: transform 0.3s ease;
}

#prenda img:hover {
    transform: scale(1.05);
}

#art, #precio {
    font-size: 1.2em;
    color: #333;
}

#descripcion {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}
