

/* Estilos para la sección de favoritos */
section h1 {
    text-align: center;
    margin-top: 50px;
    color: #28abe1; /* Color destacado para los títulos */
}

/* Estilos para la tabla de favoritos */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para la tabla */
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    height: 50px;
    background-color: #28abe1; /* Color destacado para los encabezados */
    color: white; /* Texto blanco para mejor contraste */
}

td {
    text-align: center;
    padding: 10px;
}

td img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilo para los mensajes de no hay favoritos */
p {
    text-align: center;
}

/* Estilos adicionales para mejorar la legibilidad */
tr:nth-child(even) {
    background-color: #f9f9f9; /* Color más claro para las filas alternas */
}

th, td {
    text-align: center;
    padding: 10px;
}
/* Respuestas para dispositivos móviles */
@media screen and (max-width: 768px) {
    .tabla-responsive {
        overflow-x: auto; /* Permite el desplazamiento horizontal */
    }
}

