@charset "UTF-8";

* { margin:0px; padding:0px;}


section h1 {
    text-align: center;
    color: #28abe1;
    margin-top: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #28abe1;
    color: white;
    height: 50px;
    text-align: left;
    padding: 10px;
}

td {
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

p {
    text-align: center;
    margin: 20px 0;
}

hr {
    margin-top: 20px;
}
 


