@charset "UTF-8";

* { margin:0px; padding:0px;}

section {
    width: 100%;
    height: 673px;
    background: #f5f5f5; /* Color de fondo suave */
}

#carousel {
    width: 100%;
    height: 673px;
    overflow: hidden;
    position: relative;
}

.slide {
    width: 80%; /* Aumento del tamaño de las diapositivas */
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out; /* Transición de desvanecimiento */
    left: 10%; /* Centrado de la imagen */
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide span {
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.7); /* Sombra más pronunciada para mejor legibilidad */
    z-index: 2;
}

.active {
    opacity: 1; /* Diapositiva activa totalmente visible */
}

.out {
    opacity: 0; /* Diapositivas inactivas se desvanecen */
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff;
    border: none;
    padding: 15px; /* Botones más grandes */
    cursor: pointer;
    z-index: 3;
    font-size: 24px; /* Tamaño de icono si se usa */
}

#prevButton {
    left: 10px;
}

#nextButton {
    right: 10px;
}

.arrow:hover {
    background-color: #cccccc; /* Cambio de color al pasar el mouse */
}

/* Respuestas para dispositivos móviles */
@media screen and (max-width: 768px) {
    .slide {
        width:100%; /* Ajuste para pantallas más pequeñas */
        left: 0;
        margin-top: 10px;
    }
    #carousel {
        height: 100%; /* Ajusta la altura para adaptarse al nuevo tamaño del slide */
        margin-top: 20px;

    }
}
