@charset "UTF-8";

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; /* Asegúrate de que padding y border no afecten el ancho total */
}

body {
    background: white; /* Color más vibrante */
    font-family: 'Roboto', sans-serif; /* Fuente moderna de Google Fonts */
    margin: 0; /* Elimina cualquier margen predeterminado del navegador */
}

#body {
    width: 100%; /* Establece el ancho al 100% del viewport */
    min-height: 100vh; /* Altura mínima para que se extienda al menos a la altura del viewport */
    margin: auto; /* Centrado horizontalmente si hay un ancho máximo */
    background: white; /* Fondo claro para el contenido */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra suave */
    border-radius: 8px; /* Bordes redondeados */
}

/* Media Queries para pantallas más pequeñas */
@media screen and (max-width: 1200px) {
    #body {
        width: auto;
        padding: 20px;
    }
}

@media screen and (max-width: 768px) {
    /* Estilos para tablets o teléfonos grandes */
    #body {
        padding: 15px;
    }
}

@media screen and (max-width: 480px) {
    /* Estilos para teléfonos móviles */
    #body {
        padding: 10px;
    }
}
