@charset "UTF-8";

* { margin: 0px; padding: 0px; }

section { width: 100%; overflow: hidden; }

#formulario { width: 100%; height: 100%; }

#reg {
    text-transform: uppercase;
    text-align: center;
    padding-top: 40px;
    color: #28abe1; /* Color más llamativo */
}

#datos {
    width: 60%;
    border: 1px solid #ddd; /* Borde más sutil */
    margin: auto;
    padding: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* Sombra más suave */
    border-radius: 15px; /* Bordes redondeados */
    background-color: white; /* Fondo claro */
}

#datos input, .reg1 {
    margin-left: 10px;
    margin-bottom: 15px;
    width: calc(100% - 20px); /* Ancho ajustado */
    padding: 8px; /* Más espacio dentro del input */
    border-radius: 5px; /* Bordes redondeados para input */
    border: 1px solid #ccc; /* Borde más ligero */
}

#datos input:focus {
    outline: none; /* Remover el contorno predeterminado */
    border-color: #28abe1; /* Resaltar con color al enfocar */
    box-shadow: 0 0 5px #28abe1; /* Sombra sutil al enfocar */
}

#datos .terminos {
    width: auto; /* Ancho automático para checkbox */
}

.botonreg {
    margin-left: 40px;
    border-radius: 20px;
    border: none; /* Quitar bordes */
    font-size: 1em;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #28abe1; /* Color del botón */
    color: white; /* Texto blanco */
    cursor: pointer; /* Estilo del cursor */
    transition: background-color 0.3s; /* Transición suave */
}
#datos .terminos {
    width: auto; /* Ancho automático para checkbox */
}

.botonreg:hover {
    background-color: #1a6f93; /* Color al pasar el ratón */
}
@media only screen and (max-width: 768px) {
    .g-recaptcha {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}
