@charset "UTF-8";

* { margin:0px; padding:0px; }

section { width: 100%; overflow:hidden; /*background: red;*/}

/* section página de politica de privacidad*/

/*section {overflow-y: scroll;}*/

#politica {margin-left: 7%; font-size: 15px;}

.linea2 {width: 80%; margin-left: 90px;}

p {margin: 0 7% 0; text-align: justify; }