@charset "UTF-8";

* { margin:0px; padding:0px;}

section { width: 100%; height:673px; background: #f5f5f5; /* suave color de fondo */}

#section1 {width: 100%; height:50%;}

#ropa, #maquinas, #material, #suplementos {
    width: 40%;
    height: 80%;
    float: left;
    margin-left: 5%;
    margin-top: 2%;
    position: relative;
    border-radius: 20px; /* bordes redondeados */
    box-shadow: 5px 3px 15px rgba(0,0,0,0.1); /* sombra suave */
    transition: transform 0.3s, box-shadow 0.3s; /* transición suave */
}

#ropa { background: url(imagenes/portada/ropa-deportiva.jpeg) center center no-repeat; background-size: cover; }
#material { background: url(imagenes/portada/material.png) center center no-repeat; background-size: cover; }
#maquinas { background: url(imagenes/portada/maquinas.jpeg) center center no-repeat; background-size: cover; }
#suplementos { background: url(imagenes/portada/suplementacion.jpg) center center no-repeat; background-size: cover; }

#ropa:hover, #maquinas:hover, #material:hover, #suplementos:hover {
    transform: scale(1.05);
    box-shadow: 10px 5px 30px rgba(0,0,0,0.2);
}

#section2 {width: 100%; height:50%;}

#ropa span, #maquinas span, #suplementos span, #material span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* color del texto */
    font-size: 28px; /* tamaño de la fuente */
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* sombra del texto para mejorar la legibilidad */
}
